.subTitleContainer {
  position: relative;
}

.subTitle {
  margin: 0;
  font-size: 3.5rem;
  line-height: 5rem;
  color: rgb(64, 64, 64);
}

.subTitleGlow {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  text-shadow: 2px 5px 10px #fff, 2px 5px 20px #fff, 2px 5px 40px #fff, 2px 5px 80px #0ff;
  transition: 0.9s clip-path linear;
}

.subTitleGlow-appear {
  clip-path: inset(-100px calc(100% + 100px) -100px -100px)
}

.subTitleGlow-appear-active {
  clip-path: inset(-100px -100px -100px -100px)
}